{{define "appHeader"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Low Tea @ The Plant</title>
	<link href="/assets/bootstrap.css" rel="stylesheet">
	<link href="/assets/jquery-ui-1.10.1.custom.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/assets/bootstrap-datepicker.css"/> -->
	<link rel="stylesheet" href="/assets/app.css"/>

	<script src="/assets/jquery.js"></script>
	<script src="/assets/jquery.cookie.js"></script>
	<script src="/assets/bootstrap.js"></script>
	<script src="/assets/jquery-ui-1.10.1.custom.min.js"></script>
	<!-- <script src="/assets/bootstrap-datepicker.js"></script> -->
	<script src="/assets/moment.js"></script>
	<script src="/assets/app.js"></script>
</head>

<body>
    <div id="main-panel">
		<div id="logo">下午茶时间</div>
		<ul class="nav nav-pills">
 			<li><a href="/order.html">我的订单</a></li>
 			<li><a href="/order_list.html">全员订单列表</a></li>
 			<li><a href="/product.html">产品维护</a></li>
 			<li><a href="/user_list.html">用户维护</a></li>
 			<li><a href="/profile.html">我的信息</a></li>
		</ul>
{{end}}