{{template "appHeader"}}

<script type="text/javascript">
    document.isNoMoreOrderToday = {{ .IsNoMoreOrderToday }}
</script>

<div id="date-panel">
    <div class="pull-right">
        <a id="previous-day" href="/order_list.html?date={{.PreviousDay}}"><</a>
        <span id="current-date">{{.Date}}</span>
        <a id="next-day" href="/order_list.html?date={{.NextDay}}">></a>
    </div>
    <div style="clear:both; margin-bottom: 5px;"></div>
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr><th>#</th><th>点心</th><th>数量</th><th>下单人</th></tr>
	</thead>
	<tbody>
	{{range index .Orders}}
		<tr><th>{{.Index}}</th><th>{{.Product}}</th><th>{{.Count}}</th><th>{{.Users}}</th></tr>
	{{end}}
	</tbody>
</table>

{{if .UnorderedUsers}}
<div class="alert alert-block" id="warning-block">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>注意啦!</h4>
  {{.UnorderedUsers}} 还没点任何东西(O.O)...
</div>
{{end}}


<div class="pull-right">
    <div id="copy-panel">
        <button class="copy-button btn" data-clipboard-text="{{.OrdersStr}}" title="Click to copy me.">佑驿站</button>
        <button class="copy-button btn" data-clipboard-text="{{.BrittanyOrdersStr}}" title="Click to copy me.">Brittany</button>
    </div>

    <div id="allow-new-order-again" style="margin-top:5px;display:none;">
        <button class="btn btn-warning" title="Click to copy me.">给某人个机会(^.^)</button>
    </div>
</div>
<div style="clear:both; margin-bottom: 5px;"></div>

<script src="/assets/ZeroClipboard.min.js"></script>
<script src="/assets/order_list.js"></script>
{{template "appFooter"}}