{{template "appHeader"}}

<script type="text/javascript">
    document.isNoMoreOrderToday = {{ .IsNoMoreOrderToday }}
</script>

<div id="date-panel">
    <div class="pull-right">
        <a id="previous-day" href="/order.html?date={{.PreviousDay}}"><</a>
        <span id="current-date">{{.Date}}</span>
        <a id="next-day" href="/order.html?date={{.NextDay}}">></a>
    </div>
    <div style="clear:both; margin-bottom: 5px;"></div>
</div>

<div class="row-fluid">
    <div class="order-panel"><h3>已下订单</h3></div>
    <ul class="thumbnails">
    {{range $index, $product := .Orders}}
    {{if newRow $index}}</ul></div><div class="row-fluid"><ul class="thumbnails">{{end}}
        <li class="span4">
            <form class="thumbnail">
            <img src="{{.Product.PhotoLink}}">
            <div class="caption">
                <h4>{{.Product.Name}}</h4>
                <input type="hidden" name="productid" value="{{.Product.Id}}">
                <div class="input-prepend">
                    <button class="btn" name="plus" type="button">+</button>
                    <button class="btn" name="minus" type="button">-</button>
                    <input class="span3" value="{{.Count}}" id="appendedInputButtons" type="number">
                </div>
            </div>
          </form>
        </li>
    {{end}}
    </ul>
</div>

<div class="row-fluid">
    <div class="order-panel"><h3>其它点心</h3></div>
    <ul class="thumbnails">
    {{range $index, $product := .AvaliableProducts}}
    {{if newRow $index}}</ul></div><div class="row-fluid"><ul class="thumbnails">{{end}}
        <li class="span4">
            <form class="thumbnail">
            <img src="{{.PhotoLink}}">
            <div class="caption">
                <h4>{{.Name}}</h4>
                <input type="hidden" name="productid" value="{{.Id}}">
                <div class="input-prepend">
                    <button class="btn" name="plus" type="button">+</button>
                    <button class="btn" name="minus" type="button">-</button>
                    <input class="span3" value="0" id="appendedInputButtons" type="number">
                </div>
                <!-- <div class="input-prepend">
                  <span class="add-on order-add-on">Count</span>
                  <input class="span2" type="number" name="count" placeholder="0">
                </div>
                <div class="input-prepend">
                  <span class="add-on order-add-on">Date </span>
                  <input class="span2" type="date" name="date">
                </div> -->
            </div>
          </form>
        </li>
    {{end}}
    </ul>
</div>

<div id="identity-panel" style="display:none">
    <div class="pull-right">
        <div class="input-prepend">
          <span class="add-on">Email</span>
          <input class="span2" type="email" id="email" name="email">
        </div>
    </div>
    <div style="clear:both; margin-bottom: 5px;"></div>

    <!-- <a id="submitBtn" class="btn btn-primary pull-right" rel="popover" title="A Title" data-content="And here's some amazing content. It's very engaging. right?">
        Save
    </a>
    <div style="clear:both; margin-bottom: 5px;"></div> -->
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Poor boy, it's too late, the train has left</h3>
  </div>
  <div class="modal-body">
    <p>Our low tea moment is on its way, and you will never catch it anyhow. But, Tingting can help you get there by giving you a hot-air balloon ticket.</p>
    <p>婷婷已经下单了，你没得点了。但是你可以去问问她还能不能补单。</p>
    <p>Be earlier next time. :-)</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

<!-- <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Register</h3>
    </div>
    <div class="modal-body">
        <form action="/profile" method="POST" accept-charset="utf-8">
            <label for="Name">Name</label>
            <input name="name" type="text" placeholder="What needs to be done?">

            <label for="Email">Email</label>
            <input name="email" type="text" placeholder="What needs to be done?">

            <label for="avatarlink">Avatar Link</label>
            <input name="avatarlink" type="text" placeholder="What needs to be done?">
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary">Save</button>
    </div>
</div> -->
<script src="/assets/order.js"></script>
{{template "appFooter"}}