<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Low Tea @ The Plant</title>
	<link href="/assets/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/app.css"/>
</head>

<body>
    <div id="main-panel">
		<div id="logo">
			<!-- <img src="/assets/coffe_cup.png"></img> -->
			Low Tea Moment
		</div>
		<ul class="nav nav-pills">
 			<li class="active"><a href="/order.html">Order</a></li>
 			<li><a href="/order_list.html">Order List</a></li>
 			<li><a href="/product.html">Product</a></li>
 			<li><a href="/profile.html">Profile</a></li>
		</ul>

		<form action="/order" method="POST" accept-charset="utf-8">
			<label for="email">Email</label>
			<input name="email" type="text" placeholder="What needs to be done?">
			
			<label for="productid">Product</label>
			<!-- <input  type="text" placeholder="What needs to be done?"> -->
			<select name="productid">
				{{range .}}
				<option value="{{.Id}}">{{.Name}}</option>
				{{end}}
			</select>
			<!-- TODO learn how to index array or slice in templates -->
			<img class="img-polaroid"></img>
			
			<label for="count">Count</label>
			<input name="count" type="number" value=1 placeholder="What needs to be done?">

			<p><input type="submit" class="btn btn-primary btn-small" value="Save"></p>
		</form>
    </div>
    
	<script src="/assets/jquery.js"></script>
	<script src="/assets/jquery.cookie.js"></script>
	<script src="/assets/bootstrap.js"></script>
	<script src="/assets/order.js"></script>
	<script type="text/javascript" charset="utf-8">
		var products = {{.}}
	</script>
</body>
</html>