{{template "appHeader"}}
<div class="row-fluid"><ul class="thumbnails">
{{range $index, $product := .}}
{{if newRow $index}}</ul></div><div class="row-fluid"><ul class="thumbnails">{{end}}
    <li class="span4"><form class="thumbnail">
        <img src="{{.PhotoLink}}">
        <div class="caption">
            <input type="hidden" name="productid" value="{{.Id}}">
            <div class="input-prepend">
              <span class="add-on product-add-on">Name</span>
              <input class="span2 product-input" type="text" name="name" value="{{.Name}}">
            </div>
            <div class="input-prepend">
              <span class="add-on product-add-on">Price</span>
              <input class="span2 product-input" type="number" name="price" value="{{.Price}}">
            </div>
            <div class="input-prepend">
              <span class="add-on product-add-on">PhotoLink</span>
              <input class="span2 product-input" type="text" name="photolink" value="{{.PhotoLink}}">
            </div>
            <div class="input-prepend">
              <span class="add-on product-add-on">From</span>
              <input class="span2 product-input" type="date" name="validfrom" value="{{formatTime .ValidFrom}}">
            </div>
            <div class="input-prepend">
              <span class="add-on product-add-on">To</span>
              <input class="span2 product-input" type="date" name="validto" value="{{formatTime .ValidTo}}">
            </div>
            <!-- <a class="btn btn-primary pull-right">Save</a>
            <div style="clear:both;"></div> -->
        </div>
    </form></li>
{{end}}
</ul></div>
<script src="/assets/product.js"></script>
{{template "appFooter"}}