<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Low Tea @ The Plant</title>
	<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/app.css"/>
</head>

<body>
    <div id="main-panel">
		<ul class="nav nav-pills">
 			<li><a href="/order">Order</a></li>
 			<li><a href="/order_list">Order List</a></li>
 			<li class="active"><a href="/product">Product</a></li>
 			<li><a href="/profile">Profile</a></li>
		</ul>

		<form action="profile_submit" method="get" accept-charset="utf-8">
			<label for="produts">History Product</label>
			<!-- <input  type="text" placeholder="What needs to be done?"> -->
			<select id="products">
			  <option></option>
			  <option>product 1</option>
			  <option>product 2</option>
			  <option>product 3</option>
			  <option>product 4</option>
			  <option>product 5</option>
			</select>
			
			<label for="name">Name</label>
			<input id="name" type="text" placeholder="What needs to be done?">
			
			<label for="price">Price</label>
			<input id="price" type="number" placeholder="What needs to be done?">
			
			<label for="photolink">PhotoLink</label>
			<input id="photolink" type="text" placeholder="What needs to be done?">
			
			<label for="validfrom">From</label>
			<input id="validfrom" type="date" placeholder="What needs to be done?">
			
			<label for="validto">To</label>
			<input id="validto" type="date" placeholder="What needs to be done?">

			<p><a class="btn btn-primary btn-small pull-right">Save</a></p>
		</form>
    </div>
    
    <div id="app-mark">
		Low Tea @ The Plant.
    </div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
</body>
</html>