{{template "appHeader"}}
<form id="profile-panel" action="/profile" method="POST" accept-charset="utf-8">
    <div class="input-prepend">
      <span class="add-on">Name</span>
      <input class="span2" name="name" type="text">
    </div>

    <div class="input-prepend">
      <span class="add-on">Email</span>
      <input class="span2" name="email" type="email">
    </div>

    <div class="input-prepend">
      <span class="add-on">Avatar Link</span>
      <input class="span2" name="avatarlink" type="text">
    </div>

    <div>
    	<input type="submit" value="Save" class="btn btn-primary btn-small pull-right">
        <div style="clear: both;"></div>
    </div>
</form>

<script src="/assets/profile.js"></script>
{{template "appFooter"}}